@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --sky-blue: #87CEEB;
    --steel-blue: #4682B4;
    --dodger-blue: #1E90FF;
    --gold: #FFD700;
    --orange: #FFA500;
    --lime-green: #32CD32;
    --dark-green: #006400;
    --strong-red: #ec1f1f;
    --sandy-brown: #F4A460;
    --wheat: #F5DEB3;
    --font-main: 'Poppins', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
}


.icon-with-stroke {
    text-shadow:
        -1px -1px 0 #fff,
        1px -1px 0 #fff,
        -1px 1px 0 #fff,
        1px 1px 0 #fff;
}

.custom-popup .leaflet-popup-content-wrapper {
    padding: 0;
    overflow: hidden;
}

.custom-popup .leaflet-popup-content {
    margin: 0;
    width: 300px !important;
}

.custom-popup .leaflet-popup-tip-container {
    display: none;
}


